*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-radius: 8px;
}

html,
body {
    box-sizing: border-box;
    text-align: center;
    font-family: "Elms Sans", sans-serif;
    font-size: small;
    background-color: #94a9d6;
    margin: 20px;
}

img {
    display: block;
    max-inline-size: 100%;
    inline-size: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.downtown-bg {
    background-color: #036bc6;
    background-image: URL("images/vancouver-skyline.jpg");
    background-position: center;
    background-size: cover;
    border: 6px solid #036bc6;
    padding: 20px;
    min-block-size: 350px;
    display: flex;
    flex-direction: column;
    border-radius: var(--primary-radius);
}

.downtown-bg :is(h1, p) {
    max-inline-size: 400px;
    margin: 30px auto;
    padding: 20px;
    color: #f8fafc;
    background: rgba(0, 82, 155, 0.75);
    border-radius: var(--primary-radius);
}

.downtown-bg p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 10px;
    color: #f8fafc;
    background: rgba(0, 82, 155, 0.75);
}

.content {
    color: #003A6D;
    background: #B3D7F2;
    padding: 40px 40px;
    margin-block: 40px;
    border: 6px solid #4395d4;
    border-radius: var(--primary-radius);
}

.content h2 {
    font-size: 2rem;
}

.three-column-layout {
    display: grid;
    margin-inline: auto;

    @media (width >=768px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}

.three-column-layout article {
    max-inline-size: 200px;
    margin: 20px auto;
}

.three-column-layout img {
    margin-inline: auto;
}

#card {
    max-inline-size: 400px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #ddebf8;
    border-radius: 8px;
}