*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    text-align: center;
    font-family: "Elms Sans", sans-serif;
    font-size: small;
    background-color: #94a9d6;
}

img {
    display: block;
    max-inline-size: 100%;
    inline-size: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.downtown-bg {
    background-color: #036bc6;
    background-image: URL("images/vancouver-skyline.jpg");
    background-position: center;
    background-size: cover;
    border: 6px solid #036bc6;
    padding: 20px;
    margin-block-end: 10px;
    min-block-size: 350px;
    display: flex;
    flex-direction: column;
}

.downtown-bg :is(h1, p) {
    max-inline-size: 400px;
    margin: 30px auto;
    padding: 20px 10px;
    color: #f8fafc;
    background: rgba(0, 82, 155, 0.75);
    border-radius: 10px;
}

.downtown-bg p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 10px;
    color: #f8fafc;
    background: rgba(0, 82, 155, 0.75);
}

#content {
    color: #003A6D;
    background: #B3D7F2;
    padding: 10px 10px;
}

#content-title {
    padding: 40px 20px;
    font-size: 25px;
}

#activity-grid {
    display: flex;
    justify-content: space-evenly;
}

.activity-column {
    width: 150px;
}

#card {
    max-inline-size: 400px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #ddebf8;
    border-radius: 8px;
}

/* TODO: Make the titles center and flexible */